# .env.example

# Vercel / Server Secrets
GEMINI_API_KEY=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
FIREBASE_SERVICE_ACCOUNT=

# Client / Public (must be prefixed with VITE_)
# Эти значения можно найти в файле firebase-applet-config.json
VITE_FIREBASE_API_KEY=        # Публичный ключ Firebase (НЕ для Gemini)
VITE_FIREBASE_AUTH_DOMAIN=    # Ваш Firebase Auth Domain
VITE_FIREBASE_PROJECT_ID=      # Ваш Firebase Project ID
VITE_FIREBASE_STORAGE_BUCKET=  # the-sentinel-490819.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID= # 738069070540
VITE_FIREBASE_APP_ID=          # Firebase App ID
VITE_FIREBASE_DATABASE_ID=     # ID базы данных Firestore
